@import '../colours.css';
.button{
    border: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    background-color:var(--border);
    color:var(--text-secondary);
    
}
.button.huge{
    padding: 13px 20px;
    font-size: 22px;
    line-height: 1.227;
    border-radius: 6px;
}
.button.large{
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 6px;
}
.button.small{
    padding: 7px 10px;
    font-size: 13px;
    /* line-height: 1.471; */
    border-radius: 6px;
}
.button.wide{
    min-width: 140px;
    padding-right: 30px;
    padding-left: 30px;
}
.button.block{
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.button.primary{
    background-color: var(--brand);
}
.button.success{
    background-color: var(--success);
}
.button.warning{
    background-color: var(--warning);
}
.button.error{
    background-color: var(--error);
}
.button.info{
    background-color: var(--info);
}