@import '../colours.css';
.input-group {
    position: relative;
    margin-bottom: 20px;
}
.input-control{
    border: 2px solid transparent;
    font-size: 17px;
    text-indent: 3px;
    color: var(--text);
    line-height: 1.467;
    padding: 8px 12px;
    height: 42px;
    border-radius: 6px;
    box-shadow: none;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    display: block;
    width: 100%;
    background-color: #fff;
    background-image: none;
    box-sizing: border-box;
}
.input-control:focus{
    outline: none !important;
    border-color: var(--brand);
}

.input-control::placeholder{
    color:var(--text-tertiary)
}
.input-icon{
    color: var(--text-tertiary);
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 8px;
}
.input-control:focus + .input-icon {
    color: var(--brand);
}
/* ## ERROR ## */
.input-control.error{
    color:var(--error);
    border-color: var(--error);
    
}
.input-control.error::placeholder{
    color:var(--error);
}
.input-control.error + .input-icon{
    color:var(--error);
}
/* ## SUCCESS ## */
.input-control.success{
    color:var(--success);
    border-color: var(--success);
}
/* ## DISABLED ## */
.input-control:disabled{
    color:var(--error);
    border-color: var(--disabled-secondary);
    background:var(--disabled);
    
}