@import '../colours.css';
.side-nav{
    background-color: var(--background-secondary);
    display: inline-block;
    width: 200px;
    height:100%;
    position: absolute;
    left:0;
    top:0;

}
.side-nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}