:root{
    
    --TURQUOISE:#1ABC9C;
    --GREEN-SEA:#16A085;
    --EMERALD:#2ECC71;
    --NEPHRITIS:#27AE60;
    --PETER-RIVER:#3498DB;
    --BELIZE-HOLE:#2980B9;
    --AMETHYST:#9B59B6;
    --WISTERIA:#8E44AD;
    --WET-ASPHALT:#34495E;
    --MIDNIGHT-BLUE:#2C3E50;
    --CLOUDS:#ECF0F1;
    --SILVER:#BDC3C7;
    --CONCRETE:#95A5A6;
    --ASBESTOS:#7F8C8D;
    --SUN-FLOWER:#F1C40F;
    --ORANGE:#F39C12;
    --CARROT:#E67E22;
    --PUMPKIN:#D35400;
    --ALIZARIN:#E74C3C;
    --POMEGRANATE:#C0392B;
    --WHITE:#fff;
    /* ## USE THESE COLORS */
    --brand:var(--TURQUOISE);
    --brand-secondary:var(--GREEN-SEA);

    --success: var(--EMERALD);
    --success-secondary: var(--NEPHRITIS);
    --warning: var(--SUN-FLOWER);
    --warning-secondary: var(--ORANGE);
    --info: var(--PETER-RIVER);
    --info-secondary: var(--BELIZE-HOLE);
    --danger:var(--ALIZARIN);
    --danger-secondary:var(--POMEGRANATE);
    --error:var(--danger);
    --error-secondary:var(--danger-secondary);
    --disabled:var(--CONCRETE);
    --disabled-secondary:var(--ASBESTOS);
    
    --background: var(--WHITE);
    --background-secondary: var(--WET-ASPHALT);
    --background-tertiary: var(--CLOUDS);
    --background-quaternary: var(--MIDNIGHT-BLUE);
    --text: var(--WET-ASPHALT);
    --text-secondary: var(--WHITE);
    --text-tertiary: var(--SILVER);
    --text-gray: var(--text-tertiary);
    --border:var(--SILVER);
}